.center {
    padding-left: 10px;
    margin: 100px;
}

.header {
    display: flex;
    padding: 0 50px;
    border-radius: 30px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.nav {
    display: flex;
    gap: 50px;
    align-content: center;
    list-style-type: none;
    text-decoration: none;
}
.nav li a {
    text-decoration: none;
}  .but{
    color:blue;
    background-color: aquamarine;
}